.App {
  text-align: center;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif, monospace;
  background-color: #e2e4e4;
}

.Header {
  background-image: url("Wallpaper.jpg");
  background-position: center;
  background-size: cover;
}

.Bar {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.Bar-Items {
  width: 100px;
  top: 20px;
  left: 20px;
  margin-block-end: 10px;
  padding: 10px;
}

.Bar-Items:hover {
  font-weight: bold;
  cursor: pointer;
}

.Profile {
  display: flex;
  flex-direction: row;
  margin: 20px;
  position: relative;
  bottom: 20px;
}

.Profile_photo {
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.Basic-Info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  left: 20px;
  top: 20px;
  padding-left: 20%;
  padding-right: 10%;
}

p {
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  box-sizing: border-box;
}

